/* CSS Document */
@charset "utf-8";
/* 公共css */
*{margin:0; padding:0;/*transition: all 0.2s linear 0s;*/}
a img{border:none;}
img{vertical-align: middle;}
a{cursor:pointer; text-decoration:none;}
a:focus{ outline:none;}
a,a:link {text-decoration: none;}
a:hover {text-decoration:none;}
ul, ol, li{list-style:none;white-space:normal;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
.clear{display:block; float:none; clear:both; height:0; width:100%;overflow:hidden;}
body{font-family:"Microsoft YaHei","微软雅黑",Arial, Helvetica, sans-serif; background-color:#fff;color: #000;}
/* css */
html{overflow: visible;}
html, body {height:100%;width:100%; }
._citys {width:100%;display: inline-block; border: 1px solid #ccc; position: relative;*top: 115px;border-radius: 4px;}
._citys span { color: #56b4f8; height: 15px; width: 15px; line-height: 15px; text-align: center; border-radius: 3px; position: absolute; right: 10px; top: 10px; border: 1px solid #56b4f8; cursor: pointer;display: none;}
._citys0 { width: 100%; height: 30px; display: inline-block;padding: 0; margin: 0; }
._citys0 li { display: inline-block; line-height: 30px; font-size: 14px; color: #3c3c3c; width: 33%; text-align: center; cursor: pointer; *float: left;background-color: #dddddd;border-right: 1px solid #ccc;border-bottom:1px solid #ccc;}
.citySel { background-color: #fff !important; color: #019dd6 !important; border-bottom:0px !important;}
._citys1 { width: 100%; display: inline-block; padding: 10px 0; }
._citys1 a { width: 15%; height: 20px; display: inline-block; background-color: #fff; color: #3c3c3c; margin-left: 6px; margin-top: 3px; line-height: 20px; text-align: center; cursor: pointer; font-size: 12px; overflow: hidden; }
._citys1 a:hover { color: #fff; background-color: #019dd6;}
.AreaS { background-color: #019dd6 !important; color: #fff !important; }