.modify{border:1px solid #ccc;margin:20px 10px 30px 10px;min-width: 910px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;overflow: hidden;}
.modify-tp{height: 114px;border-bottom: 1px solid #ccc;}
.modify-lt{float: left;padding: 38px 20px 0px 30px;}
.modify-rt{float: left;padding-top:20px;}
.modify-rt h3{color: #444;font-size: 16px;}
.modify-rt h3 span{color: #019dd6;}
.modify-rt p{color: #444;font-size: 14px;padding: 5px 0px;}
.progress span{display: inline-block;color: #444;font-size: 14px;float: left;}
.pro-bg{float:left;margin:0px 10px;width: 110px;height: 15px;border:1px solid #ccc;background-color: #dddddd;position: relative;}
.pro-list{position: absolute;left: 0px;top:0px;width:0px;height: 15px;background-color: #dfa152;}
.modify-bt{background-color: #fcfcfc;height:110px;}
.modify-bt .modify-tel{float: left;border-right: 1px solid #ccc;width:47%;height:110px;min-width: 400px;}
.modify-bt .modify-eamil{border-right:none;}
.modify-tel .tel-lt{float: left;padding: 20px 20px 0px 30px;}
.modify-tel .tel-rt{float: left;padding-top: 18px;}
.modify-tel .tel-rt p{font-size: 16px;color: #444;padding-bottom: 5px;}
.modify-tel .tel-rt p a{color: #019dd6;margin-left: 20px;}
.modify-tel .tel-rt span{color: #9b9b9b;font-size: 14px;}
.modify-list{border:1px solid #ccc;margin: 0px 10px 30px 10px;min-width: 910px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;overflow: hidden;}
.modify-list ul li{height:38px;line-height: 38px;border-bottom: 1px solid #ccc;overflow: hidden;}
.modify-list ul li span{font-size: 14px;color: #444;display: inline-block;width:40%;padding: 0px 30px;}
.modify-list ul li .modify-inf{color: #9b9b9b;}
.modify-list ul li .modify-edit{color:#019dd6;font-size: 14px;}
.modify-list ul li .modify-edit img{vertical-align: middle;margin-right: 5px;}
.modify-list ul li .modify-up{color:#019dd6;font-size: 14px;display: none;}
.modify-list ul li .modify-up img{vertical-align: middle;margin-right: 5px;}
.modify-list ul li.even{background-color: #eff0f2;}
.modify-list .menber_con .menber_term .menber_li input[type="text"]{width: 50%;}
.modify-list .menber_con .menber_term .menber_li select{width: 52%;}
.modify-list .menber_sub{display: block;}
.modify-list .menber_but input{margin: 0 auto;background-color: #019dd6;}
.modify-list .menber_but{margin: 0;padding: 0px 0 30px 0;}
.modify_hide{position:relative;top:0px;background-color: #f8f8f8;padding: 30px 10px 0 10px;display: none;}
.modify-much b{font-weight: normal;}